include ./helpers/ImgPaths

each member in Members
  .vignette
    img(src=pathToImg('team', member.ImgFilename))
    .title
      h2 #{member.FirstName} #{member.LastName}
    .separator
    .description
      p #{member.ShortDescription}
    .tabs
      .tab-image
        img.career-image(src=pathToImg('team', 'career.png'))
      //- .tab-image
      //-   img.education-image(src=pathToImg('team', 'education.png'))
      //- .tab-image
      //-   img.achievements-image(src=pathToImg('team', 'achievements.png'))
  //- .cv
  .career
    h2 Professional experience
    each item in member.Career 
      .entry
        .date #{item.start} &#8211; #{item.end}
        .title #{item.title}
        .description!= item.details
  .education
  .achievements