<button class='accordion'>
  <figure>
    <img src='{{ImgPath}}'>
  </figure>
  <div class='shortDescr'>
    <h2>{{FirstName}} {{LastName}}</h2>
    {{ShortDescription}}
  </div>
</button>
<div class='portfolio'>{{Portfolio}}</div>